# PostgreSQL - Identity
IDENTITY_DB_NAME=identity_db
IDENTITY_DB_USER=identity_user
IDENTITY_DB_PASSWORD=change_me_identity

# PostgreSQL - RBAC
RBAC_DB_NAME=rbac_db
RBAC_DB_USER=rbac_user
RBAC_DB_PASSWORD=change_me_rbac

# PostgreSQL - Sync
SYNC_DB_NAME=sync_db
SYNC_DB_USER=sync_user
SYNC_DB_PASSWORD=change_me_sync

# PostgreSQL - Audit
AUDIT_DB_NAME=audit_db
AUDIT_DB_USER=audit_user
AUDIT_DB_PASSWORD=change_me_audit

# RabbitMQ
RABBITMQ_USER=devsecops
RABBITMQ_PASSWORD=change_me_rabbit

# MinIO
MINIO_ROOT_USER=devsecops
MINIO_ROOT_PASSWORD=change_me_minio

# Application
JWT_SECRET_KEY=change_me_in_real_environment
